---
---

@import "{{ site.theme }}";
p {
   text-align: justify;
}
.docsImage{
  -webkit-box-shadow: 6px 6px 18px 0px rgba(194,194,194,1);
  -moz-box-shadow: 6px 6px 18px 0px rgba(194,194,194,1);
  box-shadow: 6px 6px 18px 0px rgba(194,194,194,1);
  transform: scale(0.75);
}
.docsImage2{
  -webkit-box-shadow: 6px 6px 18px 0px rgba(194,194,194,1);
  -moz-box-shadow: 6px 6px 18px 0px rgba(194,194,194,1);
  box-shadow: 6px 6px 18px 0px rgba(194,194,194,1);
  transform: scale(0.5);
}
.fr{
  float: right;
}
.fl{
  float: left;
}
